{% extends 'instagram/base.html' %}
{% load static %}
{% block content %}

<div class="main-body">
  <div class="left-body">
    <!-- 전체 피드 -->
    {% if feed_list %}
      {% for feed in feed_list %}
      <a id="feed_{{ feed.pk }}"></a>
      <div class="border feed-box">
        <div class="feed-name">
          <div class="profile-box">
            <img class="profile-img" src="{% get_media_prefix %}{{ feed.author.thumbnail }}" alt="profile1">
          </div>
          <span class="feed-name-txt"> {{ feed.author }} </span>
        </div>
        <img class="feed-img"  src="{% get_media_prefix %}{{ feed.image }}" alt="image1">
        <div class="feed-icon">
          <div>
            <!-- '추천' 버튼 -->
            <a href="javascript:void(0)" data-uri="{% url 'instagram:feed_vote' feed.pk %}" class="recommend">
              <span class="material-icons-outlined my-icon-cursor"
                style="color:{% if user in feed.voter.all %} red {% else %} black {% endif %}">favorite_border</span></a>
            <span class="material-icons-outlined my-icon-cursor">mode_comment</span>
            <span class="material-icons-outlined my-icon-cursor">send</span>
          </div>
          <div>
            <span class="material-icons-outlined my-icon-cursor">turned_in_not</span>
          </div>
        </div>
        <div class="feed-like">
          <p class="feed-txt">
              <b>좋아요 {% if feed.voter_set.count > 0 %}{{ feed.voter_set.count }}{% else %}0{% endif %}개</b>
          </p>
        </div>
        <div class="feed-content">
          <p class="feed-txt"><b> {{ feed.author }} </b> {{ feed.content }}</p>
        </div>
        <div class="feed-reply">
          {% if feed.comment_set.all.count > 2 %}
            <p class="feed-txt-mini"><b>댓글 더 보기...</b></p>
          {% endif %}
          {% for comment in feed.comment_set.all %}
            <a id="comment_{{ comment.pk }}"></a>
            <span class="feed-txt"><b> {{ comment.author.nickname }} </b> {{ comment.content }}
              <a href="javascript:void(0)" data-uri="{% url 'instagram:comment_vote' comment.pk %}" class="recommend">
                <span class="material-icons-outlined my-icon-mini my-icon-cursor"
                  style="color:{% if user in comment.voter.all %} red {% else %} black {% endif %}">favorite_border</span></a>
            </span>
          {% endfor %}
        </div>
        <!-- 답글 -->
        <form id="frmcm" action="{% url 'instagram:comment_create' feed.pk %}" method="post">
          {% csrf_token %}
          <div class="my-comment-box">
            <label for="content"></label>
            <input id="content" name="content" type="text"
                class="form-control my-comment-box-content" placeholder="댓글 달기..."
                {% if not user.is_authenticated %}disabled{% endif %}>
            <input type="submit" value="게시" class="register btn btn-light my-comment-upload-btn">
          </div>
        </form>
      </div>
      {% endfor %}
    {% else %}
      <div class="border feed-box">
        게시글이 없습니다...
      </div>
    {% endif %}
  </div>
  <!-- Right Body -->
  {% include 'instagram/right.html' %}
</div>
{% endblock %}

<!-- Javascript -->
{% block script %}
<script type='text/javascript'>
const recommend_elements = document.getElementsByClassName("recommend");
Array.from(recommend_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        location.href = this.dataset.uri;
    });
});
</script>
{% endblock %}
