{% extends 'instagram/base.html' %}
{% load static %}
{% block content %}

<div class="mypage-body">
    <div class="mypage-box">
        <div class="mypage-header">
            <img class="mypage-profile-image my-icon-cursor" id="img-profile-upload"
                 src="{% get_media_prefix %}{{ user.thumbnail }}" alt="my_profile_image">
        </div>
    </div>
    <div class="mypage-header-info">
        <div class="mypage-header-info-main">
            <div style="font-size: 28px; margin-right: 40px">{{ user.nickname }}</div>
            <button type="button" class="btn btn-outline-dark" id="button-profile-upload" href="#">프로필 편집</button>
            <input type="file" id="input-fileupload" onchange="profile_upload();" style="display: none" />
                <button class="material-icons-outlined my-icon-cursor" data-bs-toggle="modal"
                        style="border: none; background-color: transparent"
                        id="button-profile-settings" data-bs-target="#profileModalCenter"
                        data-bs-whatever="{{ request.user.name }}">settings</button>
        </div>
        <div class="mypage-header-info-sub">
            <div class="mypage-header-info-sub-1">게시물 <b>0</b></div>
            <div class="mypage-header-info-sub-1">팔로워 <b>17</b></div>
            <div>팔로우 <b>45</b></div>
        </div>
        <div><b>{{ user.name }}</b></div>
    </div>
</div>

<!-- 모달창 -->
<div class="modal fade bd-example-modal-sm" id="profileModalCenter" tabindex="-1"
     role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <a class="dropdown-item" href="{% url 'common:change_password' %}">비밀번호 변경</a>
                <hr class="dropdown-divider">
                <a class="dropdown-item" href="{% url 'common:logout' %}">로그아웃</a>
                <hr class="dropdown-divider">
                <a class="dropdown-item" data-bs-dismiss="modal">취소</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
$('#img-profile-upload').click(function (){
    $('#input-fileupload').click();
});

function profile_upload(){
    let file = $('#input-fileupload')[0].files[0];
    let fd = new FormData();

    fd.append('file', file);

    $.ajax({
        url: "/mypage/profile/upload",
        data: fd,
        method: "POST",
        processData: false,
        contentType: false,
        success: function (data) {
            console.log("성공");
        },
        error: function (request, status, error) {
            console.log("에러");
        },
        complete: function () {
            console.log("완료");
            location.replace("/mypage");
        }
    });

}
</script>
{% endblock %}
