{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a href="{% url 'instagram:home' %}">
      <img style="height: 30px; object-fit: contain" src="https://www.instagram.com/static/images/web/mobile_nav_type_logo-2x.png/1b47f9d0e595.png"
           alt="instagram-logo"></a>
    <input class="form-control" style="width: 200px" type="search" placeholder="Search" aria-label="Search">
    <!-- Google Material -->
    <div class="my-material-icons">
      <a href="{% url 'instagram:home' %}">
          <span class="material-icons my-icon-cursor">home</span></a>
      <span class="material-icons my-icon-cursor">send</span>
      <span class="material-icons-outlined my-icon-cursor"
            data-bs-toggle="modal" data-bs-target="#staticBackdrop">add_box</span>
      <span class="material-icons-outlined my-icon-cursor">explore</span>
      <span class="material-icons-outlined my-icon-cursor">favorite_border</span>
      <div class="dropdown my-profile-dropdown">
        <span class="my-profile-image-box">
          <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{% get_media_prefix %}{{ user.thumbnail }}" alt="user_profile_image">
          </a>
          <ul class="dropdown-menu my-dropdown-menu" aria-labelledby="dropdownMenuLink" style="float: right">
            <li><a class="dropdown-item" href="{% url 'instagram:mypage' %}">프로필</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'common:logout' %}">로그아웃</a></li>
          </ul>
        </span>
      </div>
    </div>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="width: 1000px">
      <div class="my-modal-header">
        <div class="my-modal-title-side"></div>
        <h5 class="my-modal-title" id="staticBackdropLabel">새 게시물</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Modal: Image -->
        <div id="input-image" class="my-modal-image-upload">
          <span id="image-upload-area-text" style="text-align: center; line-height: 550px">사진을 여기에 끌어다 놓으세요.</span>
        </div>
        <!-- Modal: Content -->
        <div class="my-modal-image-content">
          <div class="my-modal-content-write">
            <div class="feed-name">
              <div class="profile-box">
                <img id="input-profile-image" class="profile-img"
                     src="{% get_media_prefix %}{{ user.thumbnail }}" alt="writer_profile_img">
              </div>
              <span id="input-user-id" class="feed-name-txt"> {{ user.nickname }} </span>
            </div>
            <div style="height: 440px">
                <label for="input-content"></label>
                <textarea id="input-content" class="feed-content-textarea form-control col-sm-5"
                          rows="10" placeholder="설명을 입력해 주세요..."></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" id="button-write-feed" class="btn btn-primary">공유하기</button>
      </div>
    </div>
  </div>
</div>

<!-- JQuery -->
<!-- https://api.jquery.com/on/ -->
{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
// 이미지 드래그 업로드
$('.my-modal-image-upload')
    .on("dragover", dragOver)
    .on("dragleave", dragOver)
    .on("drop", uploadFiles);

function dragOver(e){
    e.stopPropagation();
    e.preventDefault();
    if (e.type === "dragover") {
        $(e.target).css({
            "background-color": "black",
            "outline-offset": "-20px"
        });
    } else {
        $(e.target).css({
            "background-color": "white",
            "outline-offset": "-10px"
        });
    }
}

let files;
function uploadFiles(e){
    e.stopPropagation();
    e.preventDefault();
    e.dataTransfer = e.originalEvent.dataTransfer;
    files = e.dataTransfer.files;
    if (files.length > 1) {
        alert('하나만 등록할 수 있습니다.');
    }
    else if (files[0].type.match(/image.*/)) {
        document.getElementById("image-upload-area-text").hidden = true;
        $(e.target).css({
            "background-image": "url(" + window.URL.createObjectURL(files[0]) + ")",
            "outline": "none",
            "background-size": "contain",
            "background-repeat" : "no-repeat",
            "background-position" : "center"});

    } else {
        alert('이미지 파일이 아닙니다.');
    }
}

// '공유하기' 버튼 클릭 시 데이터 처리
$('#button-write-feed').on('click', ()=>{
    const image = $('#input-image').css("background-image").replace(/^url\(['"](.+)['"]\)/, '$1');
    const content = $('#input-content').val();
    const nickname = $('#input-user-id').text().trim();

    if (!files) {
        alert("사진이 없습니다.");
        return;
    }

    const file = files[0];
    let form_data = new FormData();
    form_data.append('file', file);
    form_data.append('content', content);

    if (image.length <= 0) alert("이미지가 비어있습니다.");
    else if (content.length <= 0) alert("설명을 입력하세요");
    else if (nickname.length <= 0) alert("사용자 ID가 없습니다.");
    else writeFeed(form_data);
});

$.ajaxSetup({
    headers: { "X-CSRFToken": '{{csrf_token}}' }
});
function writeFeed(fd) {
    $.ajax({
        url: "/feed/create",
        data: fd,
        method: "POST",
        processData: false,
        contentType: false,
        success: function (data) {
            console.log("성공");
        },
        error: function (request, status, error) {
            console.log("에러");
        },
        complete: function() {
            console.log("무조건 실행");
            location.reload();
            alert("게시글 등록 완료!");
        }
    })
}
</script>
{% endblock %}