{% load static %}
<!-- Right Body -->
<div class="right-body">
  <div class="feed-name" style="justify-content: space-between">
    <div style="display: flex; align-items: center;">
      <div class="big-profile-box">
        <img class="profile-img" src="{% get_media_prefix %}{{ user.thumbnail }}" alt="profile1">
      </div>
      <div class="name-content">
        <span class="feed-name-txt"> {{ user.nickname }} </span>
        <span class="name-content-txt"> {{ user.name }} </span>
      </div>
    </div>
    <a class="link-txt" >전환</a>
  </div>
  <div class="recommend-box">
    <span style="color: gray"> 회원님을 위한 추천</span>
    <span style="font-size: 12px"> 모두 보기 </span>
  </div>
  <div>
    <div class="feed-name" style="justify-content: space-between">
      <div class="profile-box">
        <img class="profile-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPdtD0mU-H-lSLLUQCLIx1iV2JA8puF67c12aysMJmc63KnJ93n8GZ01XCBdeDwdqFlkw&usqp=CAU" alt="profile2">
      </div>
      <div class="name-content">
        <span class="feed-name-txt"> dation3388 </span>
        <span class="name-content-txt"> Instagram 신규 가입 </span>
      </div>
      <a class="link-txt">팔로우</a>
    </div>
    <div class="feed-name" style="justify-content: space-between">
      <div class="profile-box">
        <img class="profile-img" src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZmlsZXxlbnwwfHwwfHw%3D&w=1000&q=80" alt="profile3">
      </div>
      <div class="name-content">
        <span class="feed-name-txt"> gaoudi </span>
        <span class="name-content-txt"> IU 외 5명이 팔로우 </span>
      </div>
      <a class="link-txt">팔로우</a>
    </div>
    <div class="feed-name" style="justify-content: space-between">
      <div class="profile-box">
        <img class="profile-img" src="https://media.istockphoto.com/vectors/cartoon-white-cat-drawing-vector-id1167414625?k=20&m=1167414625&s=612x612&w=0&h=J3j0XOkIBWvlMRx-MzsnGtkbisEltK5CZxTCNCRK6cc=" alt="profile4">
      </div>
      <div class="name-content">
        <span class="feed-name-txt"> CAU </span>
        <span class="name-content-txt"> IU 외 5명이 팔로우 </span>
      </div>
      <a class="link-txt">팔로우</a>
    </div>
    <div class="feed-name" style="justify-content: space-between">
      <div class="profile-box">
        <img class="profile-img" src="https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/135817215/original/751ab1aa749ab5f59c5219e9a3b9d60ea82de385/design-simple-profile-drawings-online.jpg" alt="profile5">
      </div>
      <div class="name-content">
        <span class="feed-name-txt"> 123456789 </span>
        <span class="name-content-txt"> 그냥 추천 </span>
      </div>
      <a class="link-txt">팔로우</a>
    </div>
  </div>
  <div class="comment-box">
    <span> 인스타그램 </span>
    <span> https://github.com/yeseong31 </span>
    <br>
    <span> @2022 Yeseong31 </span>
  </div>
</div>
