.signup-body {
    font-size: 14px;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
}

.signup-box {
    align-items: center;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
    width: 350px;
    height: 470px;
}

.signup-logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-logo-box img {
    height: 50px;
    object-fit: contain;
    margin: 30px 0;
}

.signup-text {
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    color: rgba(142,142,142,1);
    margin: 0 20px 30px;
}

.signup-sub-box {
    background-color: white;
    height: 70px;
    border: 1px solid rgba(0, 0, 0, 0.18);
}

.signup-sub-box a, .chpw-text {
    font-weight: bold;
    color: cornflowerblue;
    text-decoration: none;
    cursor: pointer;
}

.signup-button {
    width: 258px;
    margin-top: 8px;
    margin-left: 44px;
    margin-right: 40px;
}

.my-form-input {
    width: 258px;
    height: 36px;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    padding: 9px 0 7px 8px;
    background-color: #FAFAFA;
}

.my-form-input:focus {
    outline: 1px solid rgb(38, 38, 38);
}

.chpw-header {
    width: 100px;
}

.chpw-header img {
    border-radius: 100%;
}

.chpw-body {
    padding: 0 20px 20px 30px;
}

.chpw-form-input {
    width: 100%;
    max-width: 578px;
    height: 36px;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    padding: 9px 0 7px 8px;
    background-color: #FAFAFA;
}