.main-body {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: #FAFAFA;
}

.left-body {
    margin-right: 100px;
    width: 500px;
    height: 2000px;
    display: flex;
    flex-direction: column;
}

.right-body {
    margin-top: 10px;
    padding-top: 20px;
    width: 300px;
    height: 1000px;
    left: 72%;
    position: fixed;
}

.feed-box {
    background-color: white;
    width: 480px;
    margin: 10px;
    min-height: auto;
    border-radius: 8px;
    padding-bottom: 10px;
}

.feed-img {
    width: 100%;
    object-fit: contain;
}

.feed-content {
    padding: 0 10px;
}

.feed-txt {
    font-size: 14px;
}

.feed-like {
    padding: 0 10px;
}

.feed-reply {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.feed-icon {
    padding: 5px 5px 0 5px;
    display: flex;
    justify-content: space-between;
} span {
    padding-right: 5px;
}

.feed-name{
    padding: 10px;
    display: flex;
    align-items: center;
}

.feed-name-txt{
    font-size: 14px;
    padding: 0 10px;
    font-weight: bold;
}

.profile-box {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name-content {
    display: flex;
    flex-direction: column;
}

.name-content-txt {
    font-size: 12px;
    padding: 0 10px;
    font-weight: bold;
    color: lightgray;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 190px;
}

.big-profile-box {
    width: 60px;
    height: 60px;
    border-radius: 70%;
    overflow: hidden;
}

.link-txt {
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.recommend-box {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
}

.comment-box{
    margin: 40px 0 0 5px;
    font-size: 12px;
    font-weight: bold;
    color: lightgray;
    display: flex;
    flex-direction: column;
}

.my-profile-dropdown {
    padding-left: 5px;
    float: right;
}

.my-profile-image-box img {
    margin-bottom: 15px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
}

.my-dropdown-menu {
    transform: translate(-82%, 0%);
}

.my-material-icons a {
    text-decoration: none;
    color: black;
}

.my-icon-cursor {
    cursor: pointer;
}

.mypage-body {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding-top: 60px;
    background-color:#FAFAFA;
}

.mypage-box {
    padding: 20px 60px;
}

.mypage-header {
    width: 175px;
    height: 175px;
}

.mypage-header img {
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

.mypage-header-info {
    text-align: left;
    margin-left: 100px;
}

.mypage-header-info-main {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.mypage-header-info-sub {
    margin-bottom: 20px;
}

.mypage-header-info-sub-1 {
    float: left;
    margin-right: 35px;
}

#button_profile_upload {
    margin-right: 40px;
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    height: 40px;
}
