.my-modal-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
}

.my-modal-title-side {
    padding: 0.5rem 0.5rem;
    margin: -0.5rem -0.5rem -0.5rem 0;
}

.my-modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}
.my-modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none
}

.my-modal-header .btn-close {
    padding:.5rem .5rem;
    margin:-.5rem -.5rem -.5rem 0
}

.my-modal-image-upload {
    outline: 2px dashed black ;
    outline-offset: -10px;
    text-align: center;
    transition: all .15s ease-in-out;
    width: 100%;
    height: 548px;
}