{% extends 'instagram/base.html' %}
{% load static %}
{% block content %}

<div class="chpw-header">
    <img class="my-icon-cursor" src="{% get_media_prefix %}{{ user.thumbnail }}"
         style="width: 40px; height: 40px; margin: 20px 30px; float: left" alt="my_profile_image">
    <div class="mypage-header-info-main">
        <div style="font-size: 28px; width: 100%; margin: 20px 0">{{ user.nickname }}</div>
    </div>
</div>

<form method="post" action="{% url 'common:change_password' %}">
    <div class="chpw-body">
        <label for="old_password" style="padding-right: 20px"><b>이전 비밀번호</b></label><br>
        <input type="password" class="chpw-form-input" id="old_password" name="old_password">
    </div>
    <div class="chpw-body">
        <label for="new_password1" style="padding-right: 20px"><b>새 비밀번호</b></label><br>
        <input type="password" class="chpw-form-input" id="new_password1" name="new_password1">
    </div>
    <div class="chpw-body">
        <label for="new_password2" style="padding-right: 20px"><b>새 비밀번호 확인</b></label><br>
        <input type="password" class="chpw-form-input" id="new_password2" name="new_password2">
    </div>
    <button id="button-chpw" type="submit" class="btn btn-primary" style="margin-left: 30px" disabled>비밀번호 변경</button>
</form>
<div style="margin-top: 25px; margin-left: 30px;">
    <a href="#" class="chpw-text">비밀번호를 잊으셨나요?</a>
</div>

{% endblock %}
