<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <img style="height: 30px; object-fit: contain" src="https://www.instagram.com/static/images/web/mobile_nav_type_logo-2x.png/1b47f9d0e595.png" alt="instagram-logo">
    <input class="form-control" style="width: 200px" type="search" placeholder="Search" aria-label="Search">
    <!-- Google Material -->
    <div>
      <span class="material-icons">home</span>
      <span class="material-icons">send</span>
      <span class="material-icons-outlined">add_box</span>
      <span class="material-icons-outlined">explore</span>
      <span class="material-icons-outlined">favorite_border</span>
    </div>
  </div>
</nav>
